@import "../../../../index.scss";

.button {
  padding: 12px 30px;
  background-color: getColor(secondary);
  display: flex;
  align-items: center;
  gap: 7px;
  color: white;
  font-weight: bold;
  position: relative;
  transition: getTransition(primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid getColor(secondary);

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: 100%;
    transition: getTransition(primary);
    background-color: getColor(accent);
    opacity: 0;
  }

  &:hover {
    &::before {
      content: "";
      opacity: 1;
      right: -1px;
    }

    & .button__name {
      color: white;
    }

    & .icon {
      color: white;
    }
  }

  &__name {
    position: relative;
    font-size: getFontSize(secondary);
    transition: getTransition(primary);
    font-family: getFont(secondary);
  }

  & .icon {
    position: relative;
    font-size: getFontSize(secondary);
  }

  &:active {
    opacity: 0.3;
  }
}
